
.App-header #serviceTabs .nab-tabs {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}

.App-header #serviceTabs .tab-content {
  position: absolute;
  top: 6em;
  left: 0;
  right: 0;
}

#serviceTabs .cancelReason,
#serviceTabs .lateReason {
  display: block;
}
#serviceTabs .via {
  font-size: 0.8em;
  margin-left: 0.5em;
}
