
.App-header #serviceTabs {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
}

.App-header .tab-content {
  position: fixed;
  top: 7em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

#serviceTabs .cancelReason,
#serviceTabs .lateReason {
  display: block;
}
#serviceTabs .via {
  font-size: 0.8em;
  margin-left: 0.5em;
}
